
section {
	width: 100%;
}

body {
	background-color: #333333;
}

.container {
    width:1170px;
}

.hover-animate {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;	
}

/**** Navigation ****/

.navbar-inverse {
	background-color: #590259;
	border-bottom: 10px solid #999999;
	border-top: 0;
	border-right: 0;
}

.navbar {
	border-radius: 0;
	height: 90px;
	margin-bottom: 0;
}

nav i.fa {
	margin-left: 11px;
	margin-top: 6px;
	font-size: 35px;
	line-height: 35px;
	color: #333;
}

.navbar-nav > li > a {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 14px;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #590259;
    color: #fff;
    font-weight: bold;
 
}

.traingle	{
  	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.hero {
    position: relative;
   
}

.hero:after {
    content:'';
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #999;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #590259;
	height: 80px;
}


.main-circle {
	height: 50px;
	width: 50px;
}

.circle {
	position: absolute;
	top: 16px;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 100%;	    
	background: #fff; 
}

nav a:hover i.fa{
	color: #555;
}

.dropdown-menu:before {
  position: absolute;
  top: -9px;
  right: 44px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -8px;
  right: 45px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}


.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #555;
}

.navbar-nav>li>.dropdown-menu {
	border-radius:10px;
	left: -80px;
}

/**** Dashboard ****/
.dashboard {
	background-color: #eee;
	padding-top: 20px;
	color: #333;
}

.sub-dashboard a i{
	font-size: 70px;
	color: #333;
	margin-bottom: -20px;

}

.sub-dashboard a{
	
	color: #333;

}
.sub-dashboard ul li i{
	padding-left: 30px;
	padding-right: 30px;
}
.sub-dashboard ul{
	margin-top: 20px;
	margin-bottom: 40px;
	
}

.sub-dashboard > .list-inline {
	margin-left: 0;
}
.sub-dashboard a {
	display: block;
	text-decoration: none;
}

.text-icons,
.icons {
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;	
}

.sub-dashboard a:hover .text-icons,
.sub-dashboard a:hover p .icons {
	color: #555;
	-webkit-transition: all .15s ease-in-out;
  	-moz-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
}

/**** Main content ***/

.main-content {
	background-color: #fff;

}


/**** Footer ***/

footer {
	font-size: 13px;
	color: #ccc;
}

.address,
.sub-footer {
	margin-top: 15px;
	margin-bottom: 15px;
}

.address > p,
 .sub-footer > p{
	line-height: 17px;
	margin: 0;

}

.container-adjustment{
	padding-right: 0px; 
	padding-left: 0px;
	overflow: hidden; 
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.fix-width{
	width: 1024px;
	margin: 0 auto;
}


/**** Add Client ***/

.breadcrumb {
	margin-top: 20px;
	background-color: #fff;

}

.breadcrumb a{
	color: #333;
}
.breadcrumb > li + li:before {
    color: #333;
    content: "> ";
}
.breadcrumb>li:last-child{
	color: #590259;

}

.panel {
	margin-bottom: 100px;
	border-radius: 5px;
}
.panel-heading {
	height: 80px;
}
.panel-heading h2{
	line-height: 20px;
	font-size: 25px;
}

.cancel-btm {
	margin-top: 23px;
	font-size: 13px;
}


.cancel-btm a{
	font-size: 13px;
	color: #333;
}

.cancel-btm a:hover{
	text-decoration: none;
	color: #590259;
}

.form-group {
	margin-bottom: 30px;
}

.form-group label {
    font-size: 13px;
}
.panel-body {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.form-control:focus {
	border-color: #333;
}

.radio-inline {
	margin-right: 30px
}

.btn-primary {
	background-color: #333;
	
}

.btn-primary:hover {
	background-color: #555;
}

.btn {
	padding-left: 30px;
	padding-right: 30px;
	border:none;
}

.control-label {
	text-align: left !important;
}

.form-control option {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}


.well {
	color: #333;
}

.panel-heading i {
    margin-right: 5px;
}

.list-group {
    margin-left: 10px;
    margin-right: 10px;
    
}

.sla-list > li.list-group-item {
    border-color: transparent;
    border-radius: 0;
    border-top-color: #ddd;
    padding-left: 40px;
}

.list-group-item > h4 {
    font-size: 14px;
    
        
   
}

.sla-list .list-group-item:first-child {
    border-top-color: transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 25px;

    
}


.sla-list .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-color: #ddd;
    margin-bottom: 50px;

}
.sub-list-category > li + li:before {
    content: "| ";
    margin-right: 10px;
}

.sub-list-category > li > a {
    color: #333;
}

.setting-list li {
    padding-top: 30px;
    padding-bottom: 35px;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #333;
    border-color: #333;
}

.setting-list > li.list-group-item {
    border-color: transparent;
    border-top-color: #ddd;
}

.setting-list .list-group-item:first-child {
    border-top-color: transparent; 
}

.setting-list .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-color: #ddd;
}

.setting-list .list-group-item:last-child { 
    margin-bottom: 50px;
}

.setting-list .control-label {
    line-height: 35px; 
}    

.setting-list .checkbox {
    margin-top: 5px;
}

.setting-list-btn button:last-child{
    margin-left: 10px;
}

.sub-setting-input {
    margin-bottom: 30px;
}

.sub-setting-list {
    margin-bottom: 0px;
}
    
